@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Theme Section Starts */
:root {
  --primary-color: #fea301;
  --secondary-color: #1e1e1e;
  --primary-text: #1e1e1e;
  --secondary-text: #fea301;
  --tertiary-text: #01acfd;
  --quaternary-text: #05d4df;
  --quinary-text: #5d58ef;
  --bg-appearance: white;
}
body {
  margin: 0;
}
.quicksand-google-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Theme Section Ends */

/* Shared Style Starts Here */
.btnPrimary {
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.btnSecondary {
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
}
/* Shared Style Ends Here */

/* Navbar Style Starts Here */
.branding {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  max-width: 12.6rem;
}
.brandLogo {
  width: 3.8rem;
  height: 3.8rem;
}

.brandName {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-text);
}
.navContainer {
  max-width: 72.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navItemsContainer {
  width: 24rem;
}
.navItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}
.activeNav {
  font-weight: 700;
}
#home {
  color: var(--secondary-text);
}
#about {
  color: var(--tertiary-text);
}
#facilities {
  color: var(--quaternary-text);
}
#admission {
  color: var(--quinary-text);
}

#hamburgerIcon {
  font-size: 1.8rem;
  display: none;
}

/* Banner Section Style Starts Here */
.bannerContainer {
  max-width: 72.5rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerDetails {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}
.bannerHead {
  font-size: 3.5rem;
  margin: 0;
}
#empower {
  color: var(--secondary-text);
}
#studentsFromSmallAge {
  color: var(--primary-text);
}
#towards {
  color: var(--tertiary-text);
}
.bannerDescription {
  font-size: 1.25rem;
}
.bannerImgContainer {
  max-width: 29rem;
}
.bannerImg {
  width: 100%;
}

/* Media Queries For Responsive Website */
@media screen and (max-width: 576px) {
  /* Media Query For Navbar */
  .navItemsContainer,
  .navBtn,
  .brandName {
    display: none;
  }
  .navContainer {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--primary-color);
  }
  #hamburgerIcon {
    display: inline-block;
  }
  /* Media Query For Banner Section */
  .bannerContainer {
    flex-direction: column-reverse;
    gap: 1.25rem;
  }
  .bannerImgContainer {
    width: 85%;
  }
  .bannerDetails {
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 22rem;
  }
  .bannerHead {
    font-size: 2rem;
  }
}
