@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Theme Section Starts */
:root {
  --primary-color: #fea301;
  --secondary-color: #1e1e1e;
  --primary-text: #1e1e1e;
  --secondary-text: #fea301;
  --tertiary-text: #01acfd;
  --quaternary-text: #05d4df;
  --quinary-text: #5d58ef;
  --bg-appearance: white;
  --primary-description-color: #808080;
  --primary-description-size: 0.9rem;
}
body {
  margin: 0;
}
.quicksand-google-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Theme Section Ends */

/* Shared Style Starts Here */
.btnPrimary {
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.btnSecondary {
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Shared Style Ends Here */

/* Navbar Style Starts Here */
.branding {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  max-width: 12.6rem;
}
.brandLogo {
  width: 3.8rem;
  height: 3.8rem;
}

.brandName {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-text);
}
.navContainer {
  max-width: 72.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navItemsContainer {
  width: 24rem;
}
.navItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}
.activeNav {
  font-weight: 700;
}
#home {
  color: var(--secondary-text);
}
#about {
  color: var(--tertiary-text);
}
#facilities {
  color: var(--quaternary-text);
}
#admission {
  color: var(--quinary-text);
}

#hamburgerIcon {
  font-size: 1.8rem;
  display: none;
}

/* Banner Section Style Starts Here */
.bannerContainer {
  max-width: 72.5rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerDetails {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}
.bannerHead {
  font-size: 3.5rem;
  margin: 0;
}
#empower {
  color: var(--secondary-text);
}
#studentsFromSmallAge {
  color: var(--primary-text);
}
#towards {
  color: var(--tertiary-text);
}
.bannerDescription {
  font-size: 1.25rem;
}
.bannerImgContainer {
  max-width: 29rem;
}
.bannerImg {
  width: 100%;
}

/* Standard Section Style Starts Here */
.standardBg {
  width: 100%;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.standardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.standardCardsContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 72rem;
  margin: 4rem auto;
}
.standardContainerHead {
  font-size: 2.8rem;
}
.standardCard {
  width: 22rem;
  height: 29rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1.2rem;
  text-align: center;
}
#kinderCard {
  border: 1px solid #def5ff;
}
#elementaryCard {
  border: 1px solid #fff4dc;
}
#middleCard {
  border: 1px solid #f2e8ff;
}
.standardCardImgContainer {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 1.2rem;
}
#kinderCardImgContainer {
  background-image: linear-gradient(#def5ff, white);
}
#elementaryCardImgContainer {
  background-image: linear-gradient(#fff4dc, white);
}
#middleCardImgContainer {
  background-image: linear-gradient(#f2e8ff, white);
}
.standardImg {
  width: 8rem;
}
.standardCardHead {
  font-size: 1.5rem;
  margin: 0;
}
.standardCardDescription {
  color: var(--primary-description-color);
  font-size: var(--primary-description-size);
  line-height: 1.7rem;
}
.readMore {
  text-decoration: none;
  font-weight: 700;
}

.btnKinder {
  color: var(--tertiary-text);
  margin-bottom: 2rem;
}
.btnElementary {
  color: var(--secondary-text);
  margin-bottom: 2rem;
}
.btnMiddle {
  color: var(--quinary-text);
  margin-bottom: 2rem;
}
#btnKinder:hover {
  background-color: var(--tertiary-text);
  color: var(--bg-appearance);
}
#btnElementary:hover {
  background-color: var(--primary-color);
  color: var(--bg-appearance);
}
#btnMiddle:hover {
  background-color: var(--quinary-text);
  color: var(--bg-appearance);
}
.standardBtnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8.5rem;
}
.standardBtn {
  background-color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s all;
}
.standardBtn:hover {
  transform: scale(1.2);
}
.standardBtn > i {
  font-size: 1.5rem;
  color: var(--bg-appearance);
}

/* Media Queries For Responsive Website */
@media screen and (max-width: 576px) {
  /* Media Query For Navbar */
  .navItemsContainer,
  .navBtn,
  .brandName {
    display: none;
  }
  .navContainer {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--primary-color);
  }
  #hamburgerIcon {
    display: inline-block;
  }
  /* Media Query For Banner Section */
  .bannerContainer {
    flex-direction: column-reverse;
    gap: 1.25rem;
  }
  .bannerImgContainer {
    width: 85%;
  }
  .bannerDetails {
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 22rem;
  }
  .bannerHead {
    font-size: 2rem;
  }
  .bannerDescription {
    font-size: 0.8rem;
    font-weight: 500;
  }
  /* Media Query For Standard Curriculum Section */
  .standardBg {
    margin-top: 5rem;
  }
  .standardContainerHead {
    font-size: 1.6rem;
    margin: 0;
  }
  .standardCardsContainer {
    flex-direction: column;
    gap: 1rem;
    margin: 2rem auto;
  }
  .standardCard {
    width: 91%;
  }
  .standardBtnContainer {
    display: none;
  }
}
